.table {
  border: 1px solid #376b8d;
  border-collapse: collapse;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  margin-top: 20px;
  -webkit-overflow-scrolling: touch;

  &__header,
  &__content {
    display: grid;
    grid-template-columns: 50px 50px 150px 170px 1fr 120px 200px 100px;
  }
  &__header {
    background-color: #376b8d;
  }
  &__header-item {
    border: 1px solid #6b7074;
    text-align: center;
    padding: 3px 0;
    color: #fff;
  }

  &__content-item {
    overflow: hidden;
    border: 1px solid #6b7074;
    padding: 3px;
    text-align: center;
    &:hover {
      overflow: auto;
    }
  }
}
